
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp

pyrofork==2.3.50
humanize
psutil
motor
markdown
asyncio
requests
